<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/style.css" />
    <title>Igreja | CARV</title>
  </head>
  <body>
    <div class="bgimg">
      <div class="logo">
        <img src="../img/logo.png" alt="" srcset="" />
      </div>
      <div class="middle">
        <h1>EM BREVE</h1>
        <hr />
        <p>35 days</p>
      </div>
      <div class="bottomleft">
        <p>Some text</p>
      </div>
    </div>

    <script src="../scripts/script.js"></script>
  </body>
</html>
