* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #a58b7d;
}

.contener {
    position: relative;
    display: flex;
    justify-content: center;
}

.logo,
img {
    height: 120px;
    width: 120px;
}

p,
h1 {
    text-align: center;
}

#footer,
p {
    top: 0;
}