/* Set height to 100% for body and html to enable the background image to cover the whole page: */
body,
html {
  background-color: #242830;
}

p {
  /* border: 1px solid beige; */
  font-family: 100 px;
  margin: 10px;
  padding: center;
}
